%table#projects
  %tr
    %td{style: 'width: 200px; color: #777'}
      Logged Ticket Time (Hours)
    %td
    %td
  - @agents.each do |name, values|
    %tr
      %td.projectName
        = name
      %td.projectVersion
        = values[:size]
      %td.projectsBars
        - values[:bar].times do |i|
          <div class="barSegment value#{i+1}"></div>
