%table#projects
  %tr
    %th{style: 'color: #777; font-size: 2em', colspan: 3}
      Notes Logged Today
  - @agents.each do |name, values|
    %tr
      %td.projectName
        = name
      %td.projectVersion
        = values[:size]
      %td.projectsBars
        - values[:bar].times do |i|
          <div class="barSegment value#{i+1}"></div>
