zendesk:
  host: yourcompany.zendesk.com
  user: user@example.com
  pass: 12345678
  views:
    new: 12345
    open: 12346
    pending: 12347
  agent_view: 12348

highrise:
  host: yourcompany.highrisehq.com
  user: d41d8cd98f00b204e9800998ecf8427e
