%table#tickets
  %tr
    %td{colspan: 3, align: 'center'}
      Tasks due this week
  - @tasks.each do |name, values|
    %tr
      %td.ticketAssignee
        = name
      %td.ticketSize
        = values[:size]
      %td.projectsBars
        - values[:bar].times do |i|
          <div class='barSegment value#{i+1}'></div>
